{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <!-- Bootstrap Card -->
  <div class="card" style="width: 27.7rem;">
    <img src="https://cdn.pixabay.com/photo/2018/09/03/11/51/pictures-3651039_1280.png" class="card-img-top" alt="Beispielbild">
    <div class="card-body">
      <h5 class="card-title">Willkommen!</h5>
      <p class="card-text">Hier können Sie schnell und einfach Materialien verwalten und Mitarbeiterdaten pflegen.</p>
    <div class="d-flex justify-content-center">
      <a href="/material" class="btn btn-primary">Materialliste</a>
    </div>
    </div>
  </div>
</div>

{% endblock %}
