{% extends 'base.html' %}

{% block content %}

<h1>Material-Liste</h1>
<div class="mitarbeiter">
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Typ
            </th>
            <th>
                Seriennummer
            </th>
            <th>
                Kaufdatum
            </th>

        </tr>

        {% for ma in material %}

        <tr>
            <td>
                {{ma[0]}}
            </td>
            <td>
                {{ma[1]}}
            </td>
            <td>
                {{ma[2]}}
            </td>
            <td>
                {{ma[3]}}
            </td>
        </tr>

        {% endfor %}

    </table>
</div>
{% endblock %}